.comment.clearfix
	.content
		%p.comment_content= @comment.content
		%p.comment_author= @comment.user.name
	-# .buttons
	-# 	= link_to "Edit", edit_post_comment_path(comment.post, content)
	-# 	= link_to "Delete", [comment.post, content], method: :delete, data: { confirm: "Are you sure?" }