/*
 *= require_self
 */

body {
	font-family: "Proxima Nova";
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

@import 'home.css.scss';